*.DS_Store
package/zerotier/gpg/*.gpg
package/zerotier-headless/gpg/*.gpg
package/zerotier-mod/gpg/*.gpg
package/zerotier-headless-mod/gpg/*.gpg
zerotier-one.x86_64
zerotier-one.armv7
build/tmp
build/docs
build/dependency-cache
build/classes
